/* May need to use important as this is injected at the top*/

body {
background: blue;
}

.progress {
height: 10px !important;
}

.slides {
width: 1200px !important;
}

.reveal pre code {
max-height: inherit !important;
}


/* Great Power image */
body > div.reveal.fade.center.focused.has-horizontal-slides.ready > div.slides > section.present > ul > li > img {
max-width: 500px;
display: block;
}
