/* May need to use important as this is injected at the top*/

body {
background: blue;
}

.progress {
height: 10px !important;
}

.slides {
width: 1200px !important;
}

.reveal pre code {
max-height: inherit !important;
}
